@import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');

:root{
  --branco: #272424;
  --cor-de-fundo: #0c8108;
  --cor-rosa:
  #0a6302;
  --verde: #084A56;
  --verde-claro: #1cb85d;
  --verde-limao:
  #538307;
  --botao-inativo: rgb(15, 5, 107);
  --botao-inativo:  rgb(6, 57, 66);
  --botao-ativo: rgba(6, 153, 25, 0.795);
  }
  
  body{
  background-color: var(--cor-de-fundo);
  color: var(--branco);
  font-family: 'Chakra Petch', 'Sans-Serif';
  }
  conteudo-principal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  }
  .titulo-principal{
  text-align: left;
  width: 100%;
  font-size: 32px;
  }
  .titulo-principal span{
  color: var(--verde-limao);
  }

.botao{
  font-family: 'Chakra Petch', sans-serif;
  color: #a10505;
  display: flex;
  justify-content: center;
  padding: 1em;
  font-size: 18px;
  align-items: center;
  width: 100%;
  border-bottom: 4px solid var(--amarelo-escuro);
  border-left: 2px solid var(--botao-ativo);
  border-right: 2px solid var(--cor-relogio);
  border-top: none;
  }
 
.botao:first-child{
 border-radius: 40px 40px 0 0;
}
.botoes{
  display: block;
}

.ativo{
background-color: var(--botao-ativo);
border-bottom: 4px solid var(--verde);
}

.abas-textos{
background-color: var(--cor-de-fundo); padding: 40px;
border-radius: 0 0 40px 40px;
}
.aba-conteudo.ativo{
display: block;
}
.aba-conteudo{
  display: none;
}

.aba-conteudo-titulo-principal{
font-size: 28px;
text-align: center;
}

.aba-conteudo-titulo-secundario{
  text-align: center;
  color: var(--rosa);
  }

  contador{
  text-align: center;
  font-size: 20px;
  }
  @media screen and (min-width: 768px){
  .botoes{
  display: flex;
  }
  .botao:first-child{
  border-radius: 40px 0 0 0;
  }
  .botao:last-child{
      border-radius: 0 40px 0 0;
  }
  }